.u-center-text{ text-align: center;}
.margin-bottom{ margin-bottom: 3rem; }

.margin-bottom-big{ margin-top: 20rem; }
.margin-top-small{ margin-top: 2rem; }
.u-margin-bottom-small{ margin-bottom: 1.5rem; }
