{% extends 'keitech_app/base.html'%}
{% load static %}
{% block body_block %}
<div class="about-hero">
  <div class="about-hero__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Keitech</span>
      <span class="heading-primary--sub">About us</span>
    </h1>
  </div>
</div>
</div>


<section class="section-about">
  <div class="u-center-text margin-bottom">
<div class="row">
  <div class="col-1-of-2">
    <h3 class="about-heading-tertiary u-margin-bottom-small">What should you know about KeiTech ?</h3>
    <p class="paragraph">
      At KeiTech we offer multi-services on every fields in Information Technology to our clients,
      it is our duty to provide the best of services to our dear clients.
    </p>
    <p class="paragraph">
      At KeiTech we offer multi-services like web design and development, web and mobile app development,
      providing courses and bootcamps in Software engineering.
    </p>

    <a href="#" class="btn-text">Learn more &rarr;</a>
  </div>

  <div class="col-1-of-2">
    <div class="composition">
        <img src="{% static 'img/img7.jpg' %}" alt="photo1" class="about-composition">
    </div>
  </div>
</div>
</div>
</section>


<section class="section_footer-about">
<div class="row">
  <div class="col-1-of-4 footer-info">
    <h3 class="forth-heading">About Us</h3>
    <p class="footer-paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Eaque, soluta voluptas quo alias deleniti autem sequi
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Eaque, soluta voluptas quo alias deleniti autem sequi
    </p>
  </div>
  <div class="col-1-of-4 footer-info">
    <h3 class="forth-heading">Useful Links</h3>
    <a href="#" class="footer-links">Apply as women in tech</a>
    <a href="#" class="footer-links">Apply as kid in tech</a>
    <a href="#" class="footer-links">Apply as volunteer</a>
    <a href="#" class="footer-links">Q&A</a>
    <a href="#" class="footer-links">Pricing</a>
    <a href="#" class="footer-links">Our Team</a>
  </div>
  <div class="col-1-of-4 footer-info">
    <h3 class="forth-heading">Follow Us</h3>
    <a href="#" class="footer-links"><i class="fab fa-facebook-square"></i>&nbsp  Facebook</a>
    <a href="#" class="footer-links"><i class="fab fa-twitter-square"></i>&nbsp  Twitter</a>
    <a href="#" class="footer-links"><i class="fab fa-instagram-square"></i>&nbsp  Instagram</a>
    <a href="#" class="footer-links"><i class="fab fa-linkedin-in"></i>&nbsp  Linkedin</a>
  </div>
  <div class="col-1-of-4 footer-info">
    <h3 class="forth-heading">Learn more</h3>
    <a href="#" class="footer-links">Partners</a>
    <a href="#" class="footer-links">Terms & privacy</a>
  </div>
</div>
<hr>
<div class="copyright">
  <p>copyright &copy 2020. KeiTech | All right reserved</p>
</div>
</section>
{% endblock %}
