{% extends 'keitech_app/base.html' %}
{% load static %}
{% block body_block %}
<!--Hero section-->
<div class="hero">
  <div class="hero__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Keitech</span>
      <span class="heading-primary--sub">The home to genius</span>
    </h1>
  </div>
</div>
<!-- End Hero section-->
<main>
<section class="section_about">
  <div class="u-center-text margin-bottom">
    <h2 class="heading-secondary">Keitech is always there to solve your problems</h2>
  </div>

  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">What should you know about KeiTech ?</h3>
      <p class="paragraph">
        At KeiTech we offer multi-services on every fields in Information Technology to our clients,
        it is our duty to provide the best of services to our dear clients.
      </p>

      <h3 class="heading-tertiary u-margin-bottom-small">What do we do at KeiTech ?</h3>
      <p class="paragraph">
        At KeiTech we offer multi-services like web design and development, web and mobile app development,
        providing courses and bootcamps in Software engineering.
      </p>
    </div>
    <div class="col-1-of-2">
      <div class="composition">
        <img src="{% static 'img/img6.jpg' %}" alt="photo 1" class="composition__photo composition__photo--p1">
          <img src="{% static 'img/img5.jpg' %}" alt="photo 2" class="composition__photo composition__photo--p2">
          <img src="{% static 'img/img7.jpg' %}" alt="photo 3" class="composition__photo composition__photo--p3">
      </div>
    </div>
  </div>

  <div class="u-center-text margin-bottom-big">
    <h2 class="heading-secondary">features</h2>
  </div>
</section>

<section class="section-features">
    <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
            <i class="feature-box__icon icon-basic-server2"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">Databases</h3>
                <p class="feature-box-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Eaque, soluta voluptas quo alias deleniti autem sequi
                </p>
          </div>
          </div>
          <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-server"></i>
                  <h3 class="heading-tertiary u-margin-bottom-small">Backend</h3>
                    <p class="feature-box-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Eaque, soluta voluptas quo alias deleniti autem sequi
                    </p>
              </div>
              </div>
              <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-ipod"></i>
                      <h3 class="heading-tertiary u-margin-bottom-small">mobile app</h3>
                        <p class="feature-box-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Eaque, soluta voluptas quo alias deleniti autem sequi
                        </p>
                  </div>
                  </div>

                  <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-laptop"></i>
                          <h3 class="heading-tertiary u-margin-bottom-small">web app</h3>
                            <p class="feature-box-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                              Eaque, soluta voluptas quo alias deleniti autem sequi
                            </p>
                      </div>
                      </div>

                    </section>

        <section class="section-womenintech">
          <div class="u-center-text margin-top-small">
            <h2 class="heading-secondary">Our women and children in tech</h2>
          </div>

          <div class="row">
            <div class="col-1-of-3">
              <div class="women-box-1">

                </div>
            </div>
            <div class="col-1-of-3">
              <div class="women-box-2">

                </div>
            </div>
            <div class="col-1-of-3">
              <div class="women-box-3">
                </div>
            </div>
          </div>

  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">Empowering our ladies in technology</h3>
      <p class="paragraph">
        At KeiTech we offer multi-services on every fields in Information Technology to our clients,
        it is our duty to provide the best of services to our dear clients.
        At KeiTech we offer multi-services on every fields in Information Technology to our clients,
        it is our duty to provide the best of services to our dear clients.
      </p>
    </div>

    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">It's our duty to introduce our kids to ICT</h3>
      <p class="paragraph">
        At KeiTech we offer multi-services on every fields in Information Technology to our clients,
        it is our duty to provide the best of services to our dear clients.
        At KeiTech we offer multi-services on every fields in Information Technology to our clients,
        it is our duty to provide the best of services to our dear clients.
      </p>
    </div>
  </div>

    <div class="container-newsletter">
      <form class="" action="index.html" method="post">
        <h1>Join our Newsletter</h1>
        <p newsletter-paragraph>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
        <div class="email-box">
          <i class="fas fa-envelope"></i>
          <input class="newsletter-input" type="email" name="" value="" placeholder="enter your email">
          <button class="newsletter-btn" type="button" name="button">Subscribe</button>

        </div>
      </form>
    </div>
</section>

  <section class="section_footer">
  <div class="row">
    <div class="col-1-of-4 footer-info">
      <h3 class="forth-heading">About Us</h3>
      <p class="footer-paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Eaque, soluta voluptas quo alias deleniti autem sequi
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Eaque, soluta voluptas quo alias deleniti autem sequi
      </p>
    </div>
    <div class="col-1-of-4 footer-info">
      <h3 class="forth-heading">Useful Links</h3>
      <a href="#" class="footer-links">Apply as women in tech</a>
      <a href="#" class="footer-links">Apply as kid in tech</a>
      <a href="#" class="footer-links">Apply as volunteer</a>
      <a href="#" class="footer-links">Q&A</a>
      <a href="#" class="footer-links">Pricing</a>
      <a href="#" class="footer-links">Our Team</a>
    </div>
    <div class="col-1-of-4 footer-info">
      <h3 class="forth-heading">Follow Us</h3>
      <a href="#" class="footer-links"><i class="fab fa-facebook-square"></i>&nbsp  Facebook</a>
      <a href="#" class="footer-links"><i class="fab fa-twitter-square"></i>&nbsp  Twitter</a>
      <a href="#" class="footer-links"><i class="fab fa-instagram-square"></i>&nbsp  Instagram</a>
      <a href="#" class="footer-links"><i class="fab fa-linkedin-in"></i>&nbsp  Linkedin</a>
    </div>
    <div class="col-1-of-4 footer-info">
      <h3 class="forth-heading">Learn more</h3>
      <a href="#" class="footer-links">Partners</a>
      <a href="#" class="footer-links">Terms & privacy</a>
    </div>
  </div>
  <hr>
  <div class="copyright">
    <p>copyright &copy 2020. KeiTech | All right reserved</p>
  </div>
  </section>


{% endblock %}
