{% extends "keitech_app/base.html" %}
{% load static %}
{% block body_block %}
<div class="service-hero">
  <div class="service-hero__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">services</span>
      <span class="heading-primary--sub">We are digital sect</span>
    </h1>
  </div>
</div>
</div>
<section class="service_section-features">
  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box-2">
          <i class="feature-box-2__icon icon-basic-server2"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Databases</h3>
              <p class="feature-box-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Eaque, soluta voluptas quo alias deleniti autem sequi
              </p>
        </div>
        </div>
        <div class="col-1-of-4">
          <div class="feature-box-2">
              <i class="feature-box-2__icon icon-basic-server"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Backend</h3>
                  <p class="feature-box-text">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Eaque, soluta voluptas quo alias deleniti autem sequi
                  </p>
            </div>
            </div>
            <div class="col-1-of-4">
              <div class="feature-box-2">
                  <i class="feature-box-2__icon icon-basic-ipod"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">mobile app</h3>
                      <p class="feature-box-text">
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Eaque, soluta voluptas quo alias deleniti autem sequi
                      </p>
                </div>
                </div>

                <div class="col-1-of-4">
                  <div class="feature-box-2">
                      <i class="feature-box-2__icon icon-basic-laptop"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">web app</h3>
                          <p class="feature-box-text">
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Eaque, soluta voluptas quo alias deleniti autem sequi
                          </p>
                    </div>
                    </div>
</section>


<section class="service_section-features-2">
  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box-3">
          <i class="feature-box-3__icon icon-basic-heart"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">UI/UX</h3>
              <p class="feature-box-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Eaque, soluta voluptas quo alias deleniti autem sequi
              </p>
        </div>
        </div>
        <div class="col-1-of-4">
          <div class="feature-box-3">
              <i class="feature-box-3__icon icon-basic-compass"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">frontend</h3>
                  <p class="feature-box-text">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Eaque, soluta voluptas quo alias deleniti autem sequi
                  </p>
            </div>
            </div>
            <div class="col-1-of-4">
              <div class="feature-box-3">
                  <i class="feature-box-3__icon icon-basic-map"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Data Analysis</h3>
                      <p class="feature-box-text">
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Eaque, soluta voluptas quo alias deleniti autem sequi
                      </p>
                </div>
                </div>

                <div class="col-1-of-4">
                  <div class="feature-box-3">
                      <i class="feature-box-3__icon icon-basic-world"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Business Analysis</h3>
                          <p class="feature-box-text">
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Eaque, soluta voluptas quo alias deleniti autem sequi
                          </p>
                    </div>
                    </div>
</section>




<section class="section_footer-service">
<div class="row">
  <div class="col-1-of-4 footer-info">
    <h3 class="forth-heading">About Us</h3>
    <p class="footer-paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Eaque, soluta voluptas quo alias deleniti autem sequi
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Eaque, soluta voluptas quo alias deleniti autem sequi
    </p>
  </div>
  <div class="col-1-of-4 footer-info">
    <h3 class="forth-heading">Useful Links</h3>
    <a href="#" class="footer-links">Apply as women in tech</a>
    <a href="#" class="footer-links">Apply as kid in tech</a>
    <a href="#" class="footer-links">Apply as volunteer</a>
    <a href="#" class="footer-links">Q&A</a>
    <a href="#" class="footer-links">Pricing</a>
    <a href="#" class="footer-links">Our Team</a>
  </div>
  <div class="col-1-of-4 footer-info">
    <h3 class="forth-heading">Follow Us</h3>
    <a href="#" class="footer-links"><i class="fab fa-facebook-square"></i>&nbsp  Facebook</a>
    <a href="#" class="footer-links"><i class="fab fa-twitter-square"></i>&nbsp  Twitter</a>
    <a href="#" class="footer-links"><i class="fab fa-instagram-square"></i>&nbsp  Instagram</a>
    <a href="#" class="footer-links"><i class="fab fa-linkedin-in"></i>&nbsp  Linkedin</a>
  </div>
  <div class="col-1-of-4 footer-info">
    <h3 class="forth-heading">Learn more</h3>
    <a href="#" class="footer-links">Partners</a>
    <a href="#" class="footer-links">Terms & privacy</a>
  </div>
</div>
<hr>
<div class="copyright">
  <p>copyright &copy 2020. KeiTech | All right reserved</p>
</div>
</section>
{% endblock %}
